html{
  margin: 0;
  padding: 0
  margin: 0 auto;
  max-width: 1500px;
}
#nodepict{
  width: 300px;
  height: 150px;
}
header{
  margin-bottom: 25px;
}
main ul{
  max-width: 1500px;
  margin:0 auto;
}
main li{
  text-decoration: none;
  text-align: center;
}

#name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

#name h1{
  color : black;
  margin-right: 25px;
  font-size: 50px;
  font-family: monospace;
}
#fillarea{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fillarea form{
  display: flex;
  flex-direction: column;
}
#fillarea form input {
  height: 45px;
  width: 1000px;
  margin-bottom: 15px;
  font-size: 20px;
  border-radius: 20px;
  padding-left: 10px;
  border: 2px solid black;
}
#chat{
  display: flex;
  flex-direction: column-reverse;
}
#send{
  align-items: center;
  font-size: 25px;
  height: 75px;
  width : 200px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #3e8e41;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#send:hover {
  background-color: #3e8e41;

}
#send:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#send i{
  color: white;
  margin-top: 5px;
  margin-left: 5px;
}

 @media screen and (max-width: 400px) {
  #name{
    display: flex;
    flex-direction: column;
  }
  #fillarea form input {
    width: 250px;
  }
}
